<!-- integrator/templates/partials/sidebar.html -->

{% load static %}


<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">

    <div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" 
         data-kt-drawer-name="app-sidebar" 
         data-kt-drawer-activate="{default: true, lg: false}" 
         data-kt-drawer-overlay="true" 
         data-kt-drawer-width="225px" 
         data-kt-drawer-direction="start" 
         data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle">
        
        <!--begin::Logo-->
        <div class="app-sidebar-logo px-6" id="kt_app_sidebar_logo">
            <!--begin::Logo image-->
            <a href="{% url 'home' %}" class="sidebar-brand">
                {% if request.company_data.company %}
                {% if not request.company_data.company.show_logo_as_text and request.company_data.company.logo %}
                    <img alt="Logo" src="{{ request.company_data.company_logo_display }}" class="h-40px app-sidebar-logo-default" />
                    <img alt="Logo" src="{{ request.company_data.company_logo_display }}" class="h-30px app-sidebar-logo-minimize" />
                {% elif request.company_data.company.show_logo_as_text or not request.company_data.company.logo %}
                    <span class="sidebar-brand-mark-only app-sidebar-logo-minimize" aria-hidden="true">{{ request.company_data.company_logo_display|slice:":1" }}</span>
                    <span class="app-sidebar-logo-default d-flex align-items-center">
                        <span class="sidebar-brand-mark" aria-hidden="true">{{ request.company_data.company_logo_display|slice:":1" }}</span>
                        <span class="sidebar-brand-text">
                            <span class="sidebar-brand-name">{{ request.company_data.company_logo_display }}</span>
                            <span class="sidebar-brand-subtitle">Integrator</span>
                        </span>
                    </span>
                {% endif %}
            {% else %}
                <span class="sidebar-brand-mark-only app-sidebar-logo-minimize" aria-hidden="true">{{ request.company_data.company_logo_display|slice:":1" }}</span>
                <span class="app-sidebar-logo-default d-flex align-items-center">
                    <span class="sidebar-brand-mark" aria-hidden="true">{{ request.company_data.company_logo_display|slice:":1" }}</span>
                    <span class="sidebar-brand-text">
                        <span class="sidebar-brand-name">{{ request.company_data.company_logo_display }}</span>
                        <span class="sidebar-brand-subtitle">Integrator</span>
                    </span>
                </span>
            {% endif %}
            </a>
            <!--end::Logo image-->
            <!--begin::Sidebar toggle-->
            <div id="kt_app_sidebar_toggle" class="app-sidebar-toggle btn btn-icon btn-shadow btn-sm btn-color-muted btn-active-color-primary h-30px w-30px position-absolute top-50 start-100 translate-middle rotate" 
                 data-kt-toggle="true" 
                 data-kt-toggle-state="active" 
                 data-kt-toggle-target="body" 
                 data-kt-toggle-name="app-sidebar-minimize">
                <i class="ki-duotone ki-black-left-line fs-3 rotate-180">
                    <span class="path1"></span>
                    <span class="path2"></span>
                </i>
            </div>
            <!--end::Sidebar toggle-->
        </div>
        <!--end::Logo-->
        
        <!--begin::sidebar menu-->
        <div class="app-sidebar-menu overflow-hidden flex-column-fluid">
            <!--begin::Menu wrapper-->
            <div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper">
                <!--begin::Scroll wrapper-->
                <div id="kt_app_sidebar_menu_scroll" class="scroll-y my-5 mx-3" 
                     data-kt-scroll="true" 
                     data-kt-scroll-activate="true" 
                     data-kt-scroll-height="auto" 
                     data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" 
                     data-kt-scroll-wrappers="#kt_app_sidebar_menu" 
                     data-kt-scroll-offset="5px" 
                     data-kt-scroll-save-state="true">
                    
                    <!--begin::Menu-->
                    <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" 
                         id="kt_app_sidebar_menu" 
                         data-kt-menu="true" 
                         data-kt-menu-expand="false">
                        {% if request.user.is_authenticated %}
                            {% with route=request.resolver_match.url_name %}
                                <div class="menu-item">
                                    <a class="menu-link{% if route == 'home' %} active{% endif %}" href="{% url 'home' %}">
                                        <span class="menu-icon"><i class="ki-duotone ki-element-11 fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i></span>
                                        <span class="menu-title">Dashboard</span>
                                    </a>
                                </div>

                                {% if request.user.is_superuser %}
                                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion{% if route == 'create_forms' or route == 'manage_forms' or route == 'view_form_submissions' or route == 'edit_form' or route == 'preview_template' or route == 'open_form_submissions' or route == 'submission_details' or route == 'delete_form' or route == 'generate_form' %} here show{% endif %}">
                                        <span class="menu-link">
                                            <span class="menu-icon"><i class="ki-duotone ki-document fs-2"><span class="path1"></span><span class="path2"></span></i></span>
                                            <span class="menu-title">Forms</span><span class="menu-arrow"></span>
                                        </span>
                                        <div class="menu-sub menu-sub-accordion">
                                            <div class="menu-item"><a class="menu-link{% if route == 'create_forms' or route == 'generate_form' %} active{% endif %}" href="{% url 'create_forms' %}"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Create Form</span></a></div>
                                            <div class="menu-item"><a class="menu-link{% if route == 'manage_forms' or route == 'edit_form' or route == 'preview_template' or route == 'delete_form' %} active{% endif %}" href="{% url 'manage_forms' %}"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Manage Forms</span></a></div>
                                            <div class="menu-item"><a class="menu-link{% if route == 'view_form_submissions' or route == 'open_form_submissions' or route == 'submission_details' %} active{% endif %}" href="{% url 'view_form_submissions' %}"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Form Submissions</span></a></div>
                                        </div>
                                    </div>

                                    <div data-kt-menu-trigger="click" class="menu-item menu-accordion{% if route == 'users_view' or route == 'add_user' or route == 'update_user' or route == 'user_detail' or route == 'delete_user' or route == 'search_user' or route == 'permissions' or route == 'permissions_data' or route == 'save_permissions' or route == 'edit_permission' or route == 'delete_permission' or route == 'integrations' or route == 'configurations' or request.resolver_match.namespace == 'sso' %} here show{% endif %}">
                                        <span class="menu-link">
                                            <span class="menu-icon"><i class="ki-duotone ki-setting-2 fs-2"><span class="path1"></span><span class="path2"></span></i></span>
                                            <span class="menu-title">Administration</span><span class="menu-arrow"></span>
                                        </span>
                                        <div class="menu-sub menu-sub-accordion">
                                            <div class="menu-item"><a class="menu-link{% if route == 'users_view' or route == 'add_user' or route == 'update_user' or route == 'user_detail' or route == 'delete_user' or route == 'search_user' %} active{% endif %}" href="{% url 'users_view' %}"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Users</span></a></div>
                                            <div class="menu-item"><a class="menu-link{% if route == 'permissions' or route == 'permissions_data' or route == 'save_permissions' or route == 'edit_permission' or route == 'delete_permission' %} active{% endif %}" href="{% url 'permissions' %}"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Permissions</span></a></div>
                                            <div class="menu-item"><a class="menu-link{% if route == 'integrations' %} active{% endif %}" href="{% url 'integrations' %}"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Integrations</span></a></div>
                                            <div class="menu-item"><a class="menu-link{% if route == 'configurations' %} active{% endif %}" href="{% url 'configurations' %}"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Configurations</span></a></div>
                                            <div class="menu-item"><a class="menu-link{% if route == 'management' and request.resolver_match.namespace == 'sso' %} active{% endif %}" href="{% url 'sso:management' %}"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">SSO Providers</span></a></div>
                                        </div>
                                    </div>
                                {% endif %}

                                <div data-kt-menu-trigger="click" class="menu-item menu-accordion{% if route == 'user_profile' or route == 'user_profile_setting' or route == 'user_profile_update' %} here show{% endif %}">
                                    <span class="menu-link">
                                        <span class="menu-icon"><i class="ki-duotone ki-abstract-26 fs-2"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i></span>
                                        <span class="menu-title">Account</span><span class="menu-arrow"></span>
                                    </span>
                                    <div class="menu-sub menu-sub-accordion">
                                        <div class="menu-item"><a class="menu-link{% if route == 'user_profile' %} active{% endif %}" href="{% url 'user_profile' %}"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Profile</span></a></div>
                                        <div class="menu-item"><a class="menu-link{% if route == 'user_profile_setting' or route == 'user_profile_update' %} active{% endif %}" href="{% url 'user_profile_setting' %}"><span class="menu-bullet"><span class="bullet bullet-dot"></span></span><span class="menu-title">Profile Settings</span></a></div>
                                    </div>
                                </div>
                            {% endwith %}
                        {% endif %}
                    </div>
                    <!--end::Menu-->
                </div>
                <!--end::Scroll wrapper-->
            </div>
            <!--end::Menu wrapper-->
        </div>
        <!--end::sidebar menu-->
        
        <!--begin::Footer-->
        <div class="app-sidebar-footer flex-column-auto pb-6 px-6" id="kt_app_sidebar_footer">
            <a href="{% url 'publichome' %}" class="app-sidebar-footer-link">
                <span class="menu-icon">
                    <i class="ki-duotone ki-home-2 fs-2">
                        <span class="path1"></span>
                        <span class="path2"></span>
                    </i>
                </span>
                <span class="btn-label">Home</span>
            </a>
        </div>
        <!--end::Footer-->
    </div>
    <!--end::Sidebar-->
<!-- </div>  -->
